<div class="banner">
  <div class="container">
    <h1>Cocktails Bible</h1>
    <p>Sparkle you night with these magical cocktails.</p>
  </div>
</div>
<div class="container bg-lig mt-4">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>')">
          <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>










